body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(206, 206, 206);
    font-size: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

p {
    display: inline;
    line-height: 1;
    font-size: 5.5em;
}

h1 {
    font-size: 2em;
    transform: translateY(17vw)
}

#stopwatch {
    display: inline-flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

#hundredths {
    font-size: 3.3em;
}

#stopwatch-buttons button {
    margin-top: 0;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 2.5vw;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    border: none;
    line-height: 1;
    transform: translateY(-12vw);
    overflow: visible;
}

#stopwatch-buttons button:active {
    filter: brightness(80%);
}

#start-stop:hover {
    filter: brightness(90%);
}

#start-stop {
    background-color: rgb(114, 183, 255);
}

#stopwatch-buttons img {
    width: 2.5vw;
    height: 2.5vw;
}

#colon {
    transform: translateY(-1vw);
}